body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7ec;
}
nav{
    background-color: #7b3d00; 
    padding: 15px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
h1, h2{
    color: #7b3f00;
    text-align: center;
}
p{
    line-height: 1.6;
    font-size: 1.1rem;
    margin: 20px
}
img{
    width: 350px;
    height: 290px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
footer{
    background-color: #7b3f00;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top:40px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
.home-hero{
    background-color: #ffe7c2;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #7b3f00;
}
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #7b3f00;
    padding:10;
    text-align: center;
}
th{
    background-color: #ffe7c2;
}
table caption{
    font-size: large;
}
form{
    width: 80%;
    margin: 0 auto;
}
label{
    font-weight: bold;
    
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
button{
    background-color: #7b3f00;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}
button:hover{
    background-color: #9c5011;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.flex{
    display: flex;
    gap: 20px;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.about-layout{
    align-items: center;
    
}
.about-text, .about-image{
    flex: 1;
}
@media(max-width: 768px){
    .about-layout{
        flex-direction: column;
        text-align: center;
    }
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px 0;
}
.product-card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-hero-layout{
    align-items: center;
}
.hero-text, .hero-image{
    flex: 1;
}
@media (max-width:768px){
    .home-hero-layout{
    flex-direction: column;
        text-align: center;
    }
}
@media(max-width: 600px){
    nav{
        padding: 10px;
    }
    p{
        margin:10px;
        font-size: 1rem;
    }
    footer{
        padding: 10px;
    }
}